$color-primary:#55c57a;
$color-green-light: #7ed56f;
$color-green:#55c57a;
$color-green-dark:#28b485;
$color-light-grey: #777;
$color-lights-grey:#f7f7f7;
$color-lights-grey-2: #eee;
$color-dark-grey:#333;


$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tritery-light:#2998ff;
$color-tritery-dark:#5443fa;
$color-white: white;
$color-dark: #000;

//grids
$row-width:114rem;
$grid-center: 8rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 4rem;