*,*::after,*::before{
    margin: 0;
    padding: 0;
  /*LOOK*/  box-sizing: inherit;
}



html{
    @include responsive (big-desktop){
            font-size: 65%; // 1rem = 12px , 12px/ 16px = 75%
        }
    font-size: 52.5%; // 1rem = 10px , 10px/16px = 62.5%
    @include responsive (tab-land){
        font-size: 46.25%; // 1rem = 9px , 9px/16px = 56.25%
    }

    @include responsive (tab-pro){
        font-size: 40%; // 1rem = 8px , 8px/16px = 50%
    }
}

body{
            margin-top: -3rem;
            padding: 3rem;
/*LOOK*/    box-sizing: border-box;
    @include responsive(tab-pro){
        padding: 0;
    }
}
::selection{
    background-color: $color-primary;    
    color: $color-white;
}