body{
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6;
    color: $color-light-grey;
}

.heading-primary{
    margin-bottom: 6rem;
    &--main{
      display: block;
      font-size: 6.2rem;
      letter-spacing: 3.5rem;
      animation: moveInLeft 1s ease-out;
      @include responsive (phone){
          letter-spacing: 1rem;
          font-size: 5rem;
      }
      
  }
  &--sub{
      display: block;
      font-size: 2rem;
      letter-spacing: 1.74rem;
      font-weight: 400;
      animation: moveInRight 1s ease-out;
      @include responsive (phone){
        letter-spacing: .5rem;
    }
  }
}
.heading-secondary{
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-transform: uppercase;    
    background: linear-gradient(to right, $color-green-light,$color-green-dark);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    transition: all .2s;
    @include responsive (tab-pro){
        font-size: 2.5rem; 
     }
    @include responsive (phone){
        font-size: 2rem; 
     }
    &:hover{
        transform: skewX(15deg) skewY(2deg) scale(1.1);
        text-shadow: 5rem 2rem 2rem rgba($color-dark,.2);
    }
}
.heading-tritery{
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}
.paragraph{
    font-size: 1.5rem;
    font-weight: 400;
    &:not(:last-child){
        margin-bottom: 1.5rem;
    }
}
.button-text{
    font-size: 1.5rem;
    font-weight: 600;
}